<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <academy_blog>
            <academy_blog_general>
                <enabled>0</enabled>
                <max_posts>5</max_posts>
            </academy_blog_general>
        </academy_blog>
    </default>
</config>
